# SPDX-FileCopyrightText: 2018 Olivier Humbert
# SPDX-FileCopyrightText: 2018 Jean Pierre Cimalando
# SPDX-License-Identifier: BSL-1.0
#
# This file comes from ADLplug, which gave it no notice of its own; it is under
# ADLplug's license, the Boost Software License 1.0 (LICENSES/BSL-1.0.txt). The
# SPDX lines name its copyright holders and license in the machine-readable form
# of the REUSE specification.

[Desktop Entry]
Name=ADLplug
Name[fr]=ADLplug
Comment=FM Yamaha OPL3 synthesizer for ADLMIDI
Comment[fr]=Synthétiseur FM Yamaha OPL3 pour ADLMIDI
TryExec=ADLplug
Exec=ADLplug
Icon=ADLplug
Type=Application
Categories=AudioVideo;Audio;Music;Midi
