# SPDX-FileCopyrightText: 2018 Jean Pierre Cimalando
# SPDX-FileCopyrightText: 2026 Yuma Kakei <yumasansansan@gmail.com>
# SPDX-License-Identifier: BSL-1.0 AND GPL-3.0-or-later
#
# This file comes from ADLplug and was modified for ADLplug-Next. ADLplug gave
# it no notice of its own; it was under ADLplug's license, the Boost Software
# License 1.0 (LICENSES/BSL-1.0.txt). The SPDX lines name the copyright holders
# and licenses in the machine-readable form of the REUSE specification:
# ADLplug's part is under the Boost Software License 1.0, and ADLplug-Next's
# changes are under the GNU General Public License, version 3 or any later
# version (LICENSES/GPL-3.0-or-later.txt).

[submodule "thirdparty/JUCE"]
	path = thirdparty/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "thirdparty/libADLMIDI"]
	path = thirdparty/libADLMIDI
	url = https://github.com/Wohlstand/libADLMIDI.git
[submodule "thirdparty/libOPNMIDI"]
	path = thirdparty/libOPNMIDI
	url = https://github.com/Wohlstand/libOPNMIDI.git
[submodule "thirdparty/simpleini"]
	path = thirdparty/simpleini
	url = https://github.com/brofield/simpleini.git
